﻿@model DeliverIT.Models.ResponseModels.GetCityResponseModel

<div class="City-Table">
    <table id="table2" class="styled-table">

        <thead>
            <tr>
                <th>City Name</th>
            </tr>
        </thead>
        <tbody id="tbody2">
            @foreach (var item in Model.Cities)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        </tbody>
    </table>
</div>
