﻿@*<script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/5.5.5/js/i18n/grid.locale-en.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/5.5.5/js/jquery.jqGrid.min.js"></script>

    <script>

        $(document).ready(function () {
            $("#myGrid").jqGrid({
                url: 'GetJqGridData',
                datatype: 'json',
                myType: 'GET',
                ajaxGridOptions: { contentType: "application/json" },
                loadonce: true,
                colNames: ['Id', 'Name'],
                colModel: [
                    { name: 'Id', index: 'Id', width: 80 },
                    { name: 'Name', index: 'Name', width: 140 }
                ],
                jsonReader: {
                    page: function (obj) { return 1; },
                    total: function (obj) { return 1; },
                    records: function (obj) { return 3; },
                    root: function (obj) { return obj.d; },
                    repeatitems: false,
                    id: "0"
                    //root: 'Data',
                    //id: 'id',
                    //repeatitems: false
                },
                pager: $('#myPager'),
                rowNum: 5,
                rowList: [2, 5, 10],
                width: 600,

                caption: 'Jqgrid MVC Tutorial'
            });
        });

    </script>

    <table id="myGrid"></table>
    <div id="myPager"></div>*@

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Your page title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <script>


        $(document).ready(function () {
            $("#myGrid").jqGrid({
                url: 'GetJqGridData',
                mtype: "GET",
                datatype: 'json',
                ajaxGridOptions: { contentType: "application/json" },
                colNames: ['Id', 'Name'],
                colModel: [
                    { name: 'id', index: 'id', width: 140 },
                    { name: 'name', index: 'name', width: 140 }
                ],
                jsonReader: {
                    repeatitems: false
                },
                pager: $('#myPager'),
                rowNum: 5,
                rowList: [2, 5, 10],
                width: 600,
                caption: 'Jqgrid MVC Tutorial'
            });
        });

    </script>
</head>
<body>
    <table id="myGrid"></table>
    <div id="myPager"></div>
</body>
</html>-->

<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">

@*<div id="container-table">
    <table id="table1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody id="tbody1">
        </tbody>
        <tfoot>
            <tr>
                <td>Total Pages: <span id="pages-count-span">10</span></td>
                <td> <button id="table1-button-next">LOAD NEXT</button></td>
            </tr>
        </tfoot>
    </table>
</div>*@

<div id="myGrid" style="height: 500px; width:500px;" class="ag-theme-balham"></div>
<button id="testclick">TEST</button>

<script type="text/javascript" charset="utf-8">
    const columnDefs = [
        { headerName: 'Make', field: 'make' },
        { headerName: 'Model', field: 'model' },
        { headerName: 'Price', field: 'price' }
    ];
    const rowData = [
        { make: 'Toyota', model: 'Celica', price: 35000 },
        { make: 'Ford', model: 'Mondeo', price: 32000 },
        { make: 'Porsche', model: 'Boxter', price: 72000 }
    ];
    const gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData
    };

    const eGridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(eGridDiv, gridOptions);

    $("#testclick").click(function (event) {

        let data = JSON.stringify({

        });

        debugger;

        $.ajax({
            url: "/api/Shipment/TestAg",
            type: "POST",
            data: data,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                gridOptions.api.setRowData(response);


                //$("#tbody1").empty();
                //$("#tbody1").append(response);
                //$("pages-count-span").val(response.totalPages);
            },
            error: function () {

            }
        });

    });

</script>
