﻿<partial name="../Shared/_ShipmentsTable.cshtml" />
<div>
    <h2>Shipments List</h2>

    <div id="myGrid" class="ag-theme-alpine-dark"></div>

    <div id="pagination-container">
        <button id="prev-button" disabled class="btn pageing-buttons">PREVIOUS PAGE</button>
        <h3 id="page-counter">Page: 1</h3>
        <button id="next-button" class="btn pageing-buttons">NEXT PAGE</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>

<script src="~/js/agGridShipmentsTable.js"></script>