﻿@model DeliverIT.Models.ResponseModels.GetParcelsResponse

<table id="table2" class="styled-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Weight</th>
            <th>Delivery To Address</th>
            <th>Customer ID</th>
            <th>Warehouse ID</th>
            <th>Category Name</th>
            <th>Shipment ID</th>
            <th>Arrival Date</th>
            <th>EDIT ACTION</th>
            <th>DELETE ACTION</th>
        </tr>
    </thead>
    <tbody id="tbody2">
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Weight</td>
                <td>@item.DeliveryToAddress</td>
                <td>@item.CustomerId</td>
                <td>@item.WarehouseId</td>
                <td>@item.CategoryName</td>
                <td>@item.ShipmentId</td>
                <td>@item.ArrivalDate</td>
                <td class="button-container">
                    <a type="button" class="mvc-edit-button edit-shipment-button" href="/api/Parcel/EditParcel?id=@item.Id">Edit</a>
                </td>
                <td>
                    <form asp-controller="Parcel" asp-action="DeleteMvc">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button class="mvc-delete-button" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <div id="pagination-container">
        @if (Model.CurrentPage == 1)
        {
            <button id="prev-button" disabled class="btn pageing-buttons">PREVIOUS PAGE</button>
        }
        else
        {
            <button id="prev-button" class="btn pageing-buttons">PREVIOUS PAGE</button>
        }

        <h3 id="page-counter">@Model.CurrentPage</h3>

        @if (Model.IsLastPage)
        {
            <button id="next-button" disabled class="btn pageing-buttons">NEXT PAGE</button>
        }
        else
        {
            <button id="next-button" class="btn pageing-buttons">NEXT PAGE</button>
        }
    </div>
</div>

