﻿@model DeliverIT.Models.ResponseModels.GetShipmentsResponse

<table id="table1" class="styled-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Status Name</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Destination Warehouse</th>
            <th>Origin Warehouse</th>
            <th>EDIT ACTION</th>
            <th>DELETE ACTION</th>
        </tr>
    </thead>
    <tbody id="tbody1">
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.StatusName</td>
                <td>@item.ArrivalTime</td>
                <td>@item.DepartureTime</td>
                <td>@item.DestinationWarehouse</td>
                <td>@item.OriginWarehouse</td>
                <td class="button-container">
                    <a type="button" class="mvc-edit-button edit-shipment-button" href="/api/Shipment/EditShipment?id=@item.Id">Edit</a>
                </td>
                <td>
                    <form asp-controller="Shipment" asp-action="DeleteMvc">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button class="mvc-delete-button" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <div id="pagination-container">
        @if (Model.CurrentPage == 1)
        {
            <button id="prev-button" disabled class="btn pageing-buttons">PREVIOUS PAGE</button>
        }
        else
        {
            <button id="prev-button" class="btn pageing-buttons">PREVIOUS PAGE</button>
        }

        <h3 id="page-counter">@Model.CurrentPage</h3>

        @if (Model.IsLastPage)
        {
            <button id="next-button" disabled class="btn pageing-buttons">NEXT PAGE</button>
        }
        else
        {
            <button id="next-button" class="btn pageing-buttons">NEXT PAGE</button>
        }
    </div>
</div>

